<div
  class="grid grid-flow-row grid-cols-1 bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-50 bg-gradient-to-br from-gray-100 via-indigo-200 to-emerald-200 dark:from-gray-800 dark:via-indigo-800 dark:to-emerald-800 gap-3"
>
  <div class="max-h-screen h-[100svh] grid grid-flow-row grid-cols-1">
    <div class="self-center">
      <p class="text-4xl font-bold text-center">Welcome to my portfolio</p>
    </div>
    <div class="self-end flex flex-col justify-center gap-5">
      <portfolio-footer
        [ghLink]="ghLink"
        [linkedinLink]="linkedinLink"
        [xingLink]="xingLink"
      ></portfolio-footer>
      <ng-icon
        name="heroChevronDoubleDownSolid"
        class="self-center m-2 text-3xl animate-bounce cursor-pointer"
        (click)="scrollScreenDown()"
      ></ng-icon>
    </div>
  </div>
  <portfolio-project-list></portfolio-project-list>
  <portfolio-footer
    [ghLink]="ghLink"
    [linkedinLink]="linkedinLink"
    [xingLink]="xingLink"
  ></portfolio-footer>
</div>
